{{#if tasks}}
<table class="table table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{@index}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>
                {{#if done}}
                <a href="/toogleDone/{{_id}}" class="btn btn-dark">Undone</a>
                {{else}}
                <a href="/toogleDone/{{_id}}" class="btn btn-success">Done</a>
                {{/if}}
                <a href="/delete/task/{{_id}} " class="btn btn-danger">Delete</a>
                <a href="/edit/task/{{_id}}" class="btn btn-info">Edit</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
        <h1>No tasks</h1>
        <img src="/images/empty.svg" alt="" class="w-75" />
    </div>
</div>
{{/if}}